@tailwind base;
@tailwind components;
@tailwind utilities;


*,*::after,*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  @apply max-w-[1200px] mx-auto
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
.hide-scroll::-moz-scrollbar {
  display: none;
}

.abilities-icon::after {
  content: "";
  position: absolute;
  display: block;
  opacity: 1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: black;
  transition: all 0.2s ease-out;
}

.abilities-icon:hover::after {
  width: 100%;
}

.nav-link::after {
  content: '';
  transition: all 300ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-bottom: 2px solid rgb(185 28 28);
}

.nav-link:hover::after {
  width: 100%;
}

.weapon-box {
  z-index: 1;
}

.weapon-box::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: all 300ms ease-in-out;
  background-color: #ff4655;
}

.weapon-box:hover::after {
  width: 100%;
}

.home-playnow {
  z-index: 1;
}

.home-playnow::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: all 300ms ease-in-out;
  background-color: #ff4655;
}

.home-playnow:hover::after {
  width: 100%;
}

.artikel-image::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: all 300ms ease-in-out;
  background-color: #ff4655;
}

.artikel-image:hover::after {
  width: 100%;
}