@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-size: 16px;
  font-family: var(--font-anton);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.padding-x {
  @appy px-[10px] md:px-[20px] lg:px-[50px] 2xl:px-0
}

.home-playnow {
  z-index: 1;
}

.home-playnow::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: all 300ms ease-in-out;
  background-color: #ff4655;
}

.home-playnow:hover::after {
  width: 100%;
}

/* hamburger button style */
.has-transform {
  transition: all 300ms ease-in-out;
  will-change: transform;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#fff;
  stroke-width:5;
  stroke-linecap:round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  stroke-dashoffset: -20px;
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}
/* hamburger button style */

/* container */
.container {
  @apply max-w-[1440px] mx-auto
}
/* container */

.weapon-box {
  z-index: 1;
}

.weapon-box::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: all 300ms ease-in-out;
  background-color: #ff4655;
}

.weapon-box:hover::after {
  width: 100%;
}